_/Chapter 2/config/HelloWSService_metadata1.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://hellows/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hellows/" version="1.0">
  <xs:element name="hello" type="tns:hello"></xs:element>
  <xs:element name="helloResponse" type="tns:helloResponse"></xs:element>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>